:root{
	--themeRed:#f33f3f;
	--themeDark:#1e1e1e;
	--themeBlue:#44a8e3;
}
body{
	font-family: "Roboto", sans-serif;
}

.navbar{
	background: var(--themeDark);
}
.navbar .navbar-brand{
	color: white;
}
.navbar ul li a{
	color: white;
	border-radius: 5px;
	position: relative;
}
.navbar ul li a::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 0%;
	height: 3px;
	background: red;
	transition: 0.35s;
}
.navbar ul li a:hover::before{
	width: 100%;
}
.navbar ul li a:hover{
	color: white;
}

/*banner*/
.banner{
	background: url(../media/banner.jpg);
	background-size: cover;
	padding: 150px 0px;
}
.section_padding{
	padding: 60px 0px;
}





@media screen and (max-width: 991px){
	.banner{
		padding: 80px 0px;
	}
	.section_padding{
		padding: 40px 0px;
	}
	.about_image{
		margin-top: 40px;
	}
}
@media screen and (max-width: 767px){
	.banner{
		padding: 50px 0px;
	}
	.section_padding{
		padding: 30px 0px;
	}
}